{
    "arrowParens": "avoid",
    "semi": true,
    "tabWidth": 4,
    "printWidth": 80,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "endOfLine": "lf"
}
